<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learnlanguages.hk.com.learnlanguages">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="learnlanguages.hk.com.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="learnlanguages.hk.com.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="learnlanguages.hk.com.activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="learnlanguages.hk.com.activities.PlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="learnlanguages.hk.com.activities.LearnActivity"
            android:screenOrientation="portrait" />
        <activity android:name="learnlanguages.hk.com.activities.WriteActivity" />
        <activity android:name="learnlanguages.hk.com.activities.BubblesActivity" />
        <activity android:name="learnlanguages.hk.com.activities.PuzzleActivity">

        </activity>
    </application>

</manifest>